SERVER_IP=154.44.25.243

FRONTEND_PORT=80
ADMIN_PORT=5002
NEO4J_HTTP_PORT=17474
NEO4J_BOLT_PORT=17687

MYSQL_DATABASE=mineral_database
MYSQL_ROOT_PASSWORD=123456
NEO4J_PASSWORD=12345678

VITE_APP_HOST=154.44.25.243
VITE_API_URL=/backend
VITE_ADMIN_API_URL=/admin-api
VITE_QA_API_BASE=/qa-api
VITE_GEM_API_BASE=/gem-api
VITE_DEEP_LEARNING_URL=http://154.44.25.243:18080/
